.Calculator {
  background-color: #FEF3FB;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator__body {
  height: 50vh;
  width: 40vw;
  border-radius: 4%;
  background-color: #CF90D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Calculator__screen {
  background-color: #FEF3FB;
  height: 30%;
  width: 90%;
  border-radius: 16px 14px 0 0;
}

