.Calculator {
  background-color: #fac6fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator__body {
  height: 50vh;
  width: 40vw;
  border-radius: 4%;
  background-color: #7A3F92;
}

